GEMINI_API_KEY=AIzaSyBx-ZO2YPMY14ekRcVAv4tXSxBKjPZHPc4

PORT=5001
GROQ_API_KEY=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
GROK_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
GROK_MODEL=grok-3-mini
